.open-sans-police007 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 16px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
html {
  font-size : 10px;
  font-family:
  "Open Sans", sans-serif;
  background-image: url("https://cdn.pixabay.com/photo/2020/02/21/06/53/everest-base-camp-trek-4866676_960_720.jpg");
}
h1 {
  color : rgb(18, 18, 87);
  text-align: center;
  font-size : 60px;
  margin: 0;
  padding: 20px 0;
  text-shadow: 3px 3px 1px white;
}
p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
body {
  width: 600px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  border: 5px solid white;
}
img {
  display: block;
  margin: 0 auto;
}
