html {
  font-size : 10px;
  font-family:
  "Open Sans", sans-serif;
}
h1 {
  color : rgb(18, 18, 87);
  text-align: center;
  font-size : 60px;
  margin: 0;
  padding: 20px 0;
  text-shadow: 3px 3px 1px white;
}
p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color : white;
}
h4 {
  font-size : 24px;
  color : white;
}
body {
  width: 600px;
  margin: 0 auto;
  padding: 0 10px 10px 5px;
  background-image: url("https://cdn.pixabay.com/photo/2020/02/21/06/53/everest-base-camp-trek-4866676_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
img {
  display: block;
  margin: 0 auto;
  block-size: 100%;
}
